<main class="center">
  <mat-card appearance="outlined">
    <mat-card-content>
      <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="50%">
          <h1>Generátor QR Plateb</h1>

          <form [formGroup]="form">
            <mat-form-field appearance="outline">
              <mat-label>Číslo účtu</mat-label>
              <input formControlName="account" matInput type="text">
              @if (requestResult?.errors?.fields?.account) {
                <mat-error>{{requestResult?.errors?.fields?.account}}</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Částka</mat-label>
              <input formControlName="amount" matInput type="text">
              <span matTextSuffix>&nbsp;Kč</span>
              @if (requestResult?.errors?.fields?.amount) {
                <mat-error>{{requestResult?.errors?.fields?.amount}}</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Poznámka</mat-label>
              <input formControlName="message" matInput type="text">
              @if (requestResult?.errors?.fields?.message) {
                <mat-error>{{requestResult?.errors?.fields?.message}}</mat-error>
              }
            </mat-form-field>
          </form>
        </div>
        <div fxFlex="50%" class="overlay-origin">
          @switch ( requestResult?.state ) {

            @case ("failed") {
              <div class="overlay center">
                <h3>{{ requestResult?.errors?.generic }}</h3>
              </div>
            }
            @case ("success") {
              @if (imageUrl) {
                <div class="overlay center">
                  <img [src]="imageUrl">
                </div>
              }
              <div class="overlay center">
                <button mat-raised-button color="primary"
                  (click)="copyImageToClipboard()"
                ><mat-icon>content_copy</mat-icon>Kopírovat</button>
              </div>
            }
            @default {
              <div class="overlay center">
                <mat-spinner mode="indeterminate"></mat-spinner>
              </div>
            }
          }

        </div>
      </div>
    </mat-card-content>
  </mat-card>
</main>
